
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

body {
  background-color: #0b2434;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

main {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  padding: 20px;
  width: 400px;
}
