.suggested-recipe-container {
    color: #475467;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 28px;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}