.header-container {
    align-items: center;
    background-color: white;
    box-shadow: 
        0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    gap: 11px;
    height: 80px;
    justify-content: center;
}

.chef-claude-icon {
    max-width: 45px;
}

.header-container > h1 {
    font-weight: 400;
}