ul.ingredients-list {
    margin-bottom: 48px;
}

ul.ingredients-list > li {
    color: #475467;
    line-height: 28px;
}

.get-recipe-container {
    align-items: center;
    background: #f0efeb;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 10px 28px;
}

.get-recipe-container h3 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6b7280;
    font-size: 0.9rem;
    line-height: 20px;
}

.get-recipe-container button {
    background: #D17557;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    margin-left: 40px;
    padding: 9px 17px;
}