main {
    padding: 40px 30px 10px;
}

.add-ingredient-form {
    display: flex;
    gap: 12px;
    height: 38px;
    justify-content: center;
}

.add-ingredient-form > input {
    border-radius: 6px;
    border: 1px solid #d1d5db;
    box-shadow: 
        0px 1px 2px 0px rgba(0,0,0,0,05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
    padding: 9px 13px;
}

.add-ingredient-form > button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #fafaf8;
    min-width: 150px;
    font-size: 0.8rem;
    font-weight: 500;
}

.add-ingredient-form > button::before {
    content: '+';
    margin-right: 5px;
}