body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.send-button {
    background-color: rgb(25, 135, 84);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
    padding: 12px 20px;
}

.chat-input {
    border-radius: 10px;
    border-width: 1px;
    border: black solid 1px;
    flex-grow: 1;
    font-size: 15px;
    padding: 12px 15px;
}

.chat-input-container {
    display: flex;
    margin-bottom: 60px;
}

.app-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat-message-robot {
    display: flex;
    justify-content: start;
    align-items: start;
}

.chat-message-text {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 300px;
    padding: 15px 20px;
}

.chat-message-profile {
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
    width: 50px;
}

.chat-messages-container {
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

.welcome-message {
    text-align: center;
    justify-content: center;
    color: rgb(120, 120, 120);
}

.loading-spinner {
    height: 40px;
    margin: -15px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.toggle-button {
    padding: 15px;
    border-radius: 5px;
    border: none;
}

.toggle-button-on {
    background-color: rgb(25,135,84);
}

.toggle-button-off {
    background-color: rgb(220,53,69);
}

.input-container {
    padding: 5px;
}

.input-text {
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    padding-left: 10px;
    width: 360px;
}

.submit-button {
    background-color: rgb(0,123,255);
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}

.showhide-button {
    margin: 10px;
}




