body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.send-button {
    background-color: rgb(25, 135, 84);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
    padding: 12px 20px;
}

.chat-input {
    border-radius: 10px;
    border-width: 1px;
    border: black solid 1px;
    flex-grow: 1;
    font-size: 15px;
    padding: 12px 15px;
}

.chat-input-container {
    display: flex;
    margin-bottom: 60px;
}

.app-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat-message-robot {
    display: flex;
    justify-content: start;
    align-items: start;
}

.chat-message-text {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 300px;
    padding: 15px 20px;
}

.chat-message-profile {
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
    width: 50px;
}

.chat-messages-container {
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

