.app-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.welcome-message {
  text-align: center;
  justify-content: center;
  color: rgb(120, 120, 120);
}



