section.game-status {
    align-items: center;
    border-radius: 4px;
    color: #f9f4da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 30px;
    min-height: 70px;
}

section.game-status.won {
    background-color: #10a95b;
}

section.game-status.lost {
    background-color: #ba2a2a;
}

section.game-status.farewell {
    background-color: #7a5ea7;
    border: 1px dashed #323232;
}

section.game-status > p {
    margin: 5px;
}

section.game-status > h2 {
    font-size: 1.25rem;
    margin: 5px;
}

section.game-status > p.farewell-message {
    font-style: italic;
    font-weight: 400;
}