section.game-status {
    align-items: center;
    background-color: #10a95b;
    border-radius: 4px;
    color: #f9f4da;
    display: flex;
    flex-direction: column;
    margin-block: 30px;
}

section.game-status > p {
    margin: 5px;
}

section.game-status > h2 {
    font-size: 1.25rem;
    margin: 5px;
}