header {
    text-align: center;
}

header > h1 {
    color: #f9f4da;
    font-size: 1.25rem;
    font-weight: 500;
}

header > p {
    color: #8e8e8e;
    font-size: 0.9rem;
    max-width: 350px;
    margin-top: 15px;
}