.keyboard {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    max-width: 450px;
}

.keyboard > button {
    background-color: #fcba29;
    border: 1px solid #d7d7d7;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.keyboard > button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.keyboard button.correct-letter {
    background-color: #10a95b;
}

.keyboard button.wrong-letter {
    background-color: #ec5d49;
}