.new-game {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 40px;
}

.new-game button {
    background-color: #11B5E5;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    cursor: pointer;
    display: block;
    height: 40px;
    margin-inline: auto;
    padding: 6px 12px;
    width: 225px;
    font-size: 1.2rem;
    
}
