main {
    padding: 60px 30px;
    background-image: url(../assets/react-logo-half.png);
    background-repeat: no-repeat;
    background-position: right;
}

main > h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
    max-width: 400px;
}

.facts-list > li {
    padding-block: 10px;
    line-height: 19px;
}

.facts-list > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}