.die {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    color: #0b2434;;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    width: 50px;
}

